package {{ pck }};

import base.BaseServiceImpl;
import com.bfwg.pets.model.{{name}};
import com.bfwg.pets.repository.{{name}}Repository;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Service;

@Service
public class {{name}}Service extends BaseServiceImpl<{{name}}> {

    @Autowired
    private {{name}}Repository {{lname}}Repository;

    //@Override
    protected JpaRepository<{{name}}, Integer> getRepository() {
    return {{lname}}Repository;
    }
    }
