package {{ pck }};


import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Service;


import base.BaseServiceImpl;
import {{fqn}};
import {{fqnRepo}};

@Service
public class {{name}}Service extends BaseServiceImpl<{{name}}> {

    @Autowired
    private {{name}}Repository {{lname}}Repository;

    //@Override
    protected JpaRepository<{{name}}, Integer> getRepository() {
    return {{lname}}Repository;
    }
    }
