import { Component, OnInit } from '@angular/core';
import { BaseEditComponent } from '@app/base/base-edit.component';
import { {{name}} } from '@app/{{lname}}/{{lname}}';
import { {{name}}Service } from '@app/{{lname}}/{{lname}}.service';
import { ActivatedRoute, Router } from '@angular/router';

@Component({
  selector: 'app-{{lname}}-manage',
  templateUrl: './{{ lname }}-manage.component.html.',
  styleUrls: ['./{{ lname }}-manage.component.scss']
})
export class {{name}}ManageComponent extends BaseEditComponent<{{name}}> implements OnInit {

  constructor(protected {{name}}Service: {{name}}Service, 
    protected route: ActivatedRoute, protected router: Router) {
    super({{name}}Service, route, router, '{{name}}s')
    //this.createForm();
  }

  ngOnInit() {
    super.ngOnInit()
  }

}
