{%  macro getValidators(prop, genUtils) %}
    {% if not prop.opt %} Validators.required, {% endif %}
    {% for v in prop.validators %}
        {% if  v.name in ['requiredFalse','future','past'] %} CustomValidators.{{ v.name }}, {% endif %}
        {% if  v.name in('minLength', 'maxLength', 'min','max' ) %}
            Validators.{{ v.name }}({{  v.value }}),
        {% endif %}
        {% if  v.name == 'pattern' %}
            Validators.{{ v.name }}("{{v.value}}"),
        {% endif %}

    {% endfor %}
{% endmacro %}