{%  macro getValidators(prop, genUtils) %}
    {% if not prop.opt %} Validators.required, {% endif %}
    {% for v in prop.validators %}
        {% if  v.name in ['requiredFalse','future','past'] %} CustomValidators.{{ v.name }}, {% endif %}
        {% if  v.name == 'min' or  v.name == 'max' %}
        Validators.{{ v.name }} {% if not genUtils.isNumeric(prop) %}Length{%  endif %}({{  v.value }}),
    {% endif %}
    {% endfor %}
{% endmacro %}