import { async, ComponentFixture, TestBed } from '@angular/core/testing';

{% set cname =  (entity.name  ) +'Component'  %}
import { {{ cname }} } from './{{ name |fLower }}.component';

import {ReactiveFormsModule, FormsModule} from '@angular/forms';
import { NgbModule } from '@ng-bootstrap/ng-bootstrap';
import { NgSelectModule } from '@ng-select/ng-select';

describe('{{ cname }}', () => {
let component: {{ cname }};
let fixture: ComponentFixture<{{ cname }}>;

    beforeEach(async(() => {
        TestBed.configureTestingModule({
        declarations: [ {{ cname }} ],
        imports: [ReactiveFormsModule, FormsModule,NgbModule.forRoot(), NgSelectModule],

    })
        .compileComponents();
    }));

    beforeEach(() => {
        fixture = TestBed.createComponent({{ cname }});
        component = fixture.componentInstance;
        fixture.detectChanges();
    });

    it('should create', () => {
        expect(component).toBeTruthy();
    });

    it('form invalid when empty', () => {
        expect(component.getTheForm().valid).toBeFalsy();
    });
});
