import { Component, OnInit } from '@angular/core';

import { ActivatedRoute } from '@angular/router';
import { {{ name}}Service } from '../{{ lname}}.service';

@Component({
selector: 'app-{{ lname}}-details',
templateUrl: './{{ lname}}-details.page.html',
styleUrls: ['./{{ lname}}-details.page.scss'],
})
export class {{ name}}View implements OnInit {
    entity = null
    id = null;

    constructor(private activatedRoute: ActivatedRoute,
    private {{ lname}}Service: {{ name}}Service) { }

    ngOnInit() {
        //super.init()
        // Get the ID that was passed with the URL
        this.id = this.activatedRoute.snapshot.paramMap.get('id');

        // Get the information from the API
        this.{{ lname}}Service.get(this.id).subscribe(result => {
        this.entity = result;
        });
    }


}
