<div class="container">
{#    <div class="col-lg-5" [hidden]="wizardDone()">#}
{#        <wizard-navigator  [currentInd]="currentInd" [steps]="steps"></wizard-navigator>#}
{#    </div>#}
{##}
{#    <div class="col-lg-7">#}
        <wizard #w>
            {% for entity in genUtils.getEntities(entity) -%}
                {% set cname = (entity.parent.name|fLower ) + '-' + (entity.name |fLower )  %}
            <wizard-step header="{{ entity.name }}">
                <{{cname}} [entity]="entity" #dw></{{cname}}>
            </wizard-step>
            {% endfor %}
        </wizard>
{#    </div>#}
{##}
{#    <final-message [hidden]="!wizardDone()" [entity]="entity"></final-message>#}
</div>

