import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { ReactiveFormsModule, FormsModule } from '@angular/forms';

{% for e in genUtils.getEntities(entity) -%}
import { {{ e.name }}Component } from '../{{ name| spinal }}/{{ e.name| spinal }}/{{ e.name| spinal }}.component';
{% endfor %}

import { {{ entity.name}}Component } from './{{ entity.name | spinal }}.component';

{#import { NavigatorComponent } from './navigator/navigator.component';#}
{#import { FinalMessageComponent } from './final-message/final-message.component';#}
import { CommonComponentsModule } from "../../commons/commons.module";
import { WizardModule } from "../../commons/wizard.module";
import { TranslateModule, TranslateLoader } from "@ngx-translate/core";
import { HttpLoaderFactory } from "../../commons/httploaderfactory";
import { HttpClient, HttpClientModule } from "@angular/common/http";




@NgModule({
    imports: [
        CommonModule,
        FormsModule,
        ReactiveFormsModule,
        WizardModule,
        CommonComponentsModule,

        TranslateModule.forRoot({
        loader: {
        provide: TranslateLoader,
        useFactory: HttpLoaderFactory,
        deps: [HttpClient]
        }
        })
    ],
    declarations: [ {% for e in genUtils.getEntities(entity) -%} {{ e.name }}Component, {% endfor %} {{entity.name}}Component]
,exports:[
    {{entity.name}}Component
],
providers: []
})
export class {{entity.name}}Module { }