import { Injectable } from "@angular/core";
import { of } from "rxjs";
import { HttpClient } from "@angular/common/http";

@Injectable({
providedIn: "root"
})
export class {{ entity.name  }}Service {

    readonly END_POINT = '{{ lname }}'

    constructor(private http: HttpClient ) {}


    createUrl = entity =>
        `${this.env.getRsoDomain()}/${this.TRANSACTION_ENDPOINT}/${
        entity.referenceNumber
        }/${this.END_POINT}`;


    submit(entity) {
        console.log("sending payload to url ", entity , this.createUrl(entity));

        return this.http
        .post(this.createUrl(entity), entity, {})
        .toPromise();
    }
}