import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { Routes, RouterModule } from '@angular/router';

import { IonicModule } from '@ionic/angular';


import { AddEdit{{name}}Component } from './add-edit-{{lname}}s/add-edit-{{lname}}s.component';
import { {{name}}DetailsPage } from './{{lname}}-details/{{lname}}-details.page';
import { {{name}}ListPage } from './{{lname}}-list/{{lname}}s.page';

const routes: Routes = [
{
path: '',
component: {{name}}ListPage,
pathMatch: 'full'
},
{
path: 'view/:id',
component: {{name}}DetailsPage
},
{
path: 'edit/:id',
component: AddEdit{{name}}Component
},
{
path: 'add',
component: AddEdit{{name}}Component
}
];

@NgModule({
imports: [
CommonModule,
FormsModule,
ReactiveFormsModule,
IonicModule,
RouterModule.forChild(routes)
],
declarations: [{{name}}sPage, AddEdit{{name}}Component, {{name}}DetailsPage]
})
export class {{name}}sPageModule {}
