

import { Injectable } from '@angular/core';

import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';
import { map } from 'rxjs/operators';
import { environment } from '../../environments/environment';
import { BaseService } from '../base/baseservice';
import { MessageService } from '../base/message-service';



@Injectable({
providedIn: 'root'
})
export class PatientService extends BaseService<{{ name }}>{

    endpoint = '{{ lname | plural }}'

    /**
    * Constructor of the Service with Dependency Injection
    * @param http The standard Angular HttpClient to make requests
    */
    constructor(protected http: HttpClient,
    protected messageService:MessageService) {
    super(http, messageService)
    }


    }