import { NgModule } from "@angular/core";
import { CommonModule } from "@angular/common";
import { FormsModule, ReactiveFormsModule } from "@angular/forms";
import { Routes, RouterModule } from "@angular/router";

import { IonicModule } from "@ionic/angular";


import { {{name}}ListPage } from './chronicCondition-list/chronicCondition-list.component';
import { {{name}}View } from './chronicCondition-view/chronicCondition-view.component';
import { {{name}}AddComponent } from './chronicCondition-add/chronicCondition-add.component';


const routes: Routes = [
{
path: "",
component: {{name}}ListPage,
pathMatch: "full"
},
{
path: "view/:id",
component: {{name}}View
},
{
path: "edit/:id",
component: {{name}}AddComponent
},
{
path: "add",
component: {{name}}AddComponent
}
];

@NgModule({
imports: [
CommonModule,
FormsModule,
ReactiveFormsModule,
IonicModule,
RouterModule.forChild(routes)
],
declarations: [
{{name}}ListPage,
{{name}}AddComponent,
{{name}}View
]
})
export class {{name}}sPageModule {}
