
import { Component, OnInit } from "@angular/core";
import { {{ name}}Service } from "../../{{ lname}}.service";
import { Observable } from "rxjs";
import { BaseListPage } from "../../../base/base-list-page";
import { ActivatedRoute } from "@angular/router";

@Component({
selector: "app-{{ lname}}s",
templateUrl: "./{{ lname}}s.page.html",
styleUrls: ["./{{ lname}}s.page.scss"]
})
export class {{ name }}ListPage extends BaseListPage<{{ name }}> implements OnInit {
results: Observable<any>;
    searchTerm: string = "";
    searchOnserver = true;
    //type: SearchType = SearchType.all;

    /**
    * Constructor of our first page
    * @param movieService The movie Service to get data
    */
    constructor(
    protected {{ lname}}Service: {{ name}}Service,
    protected activatedRoute: ActivatedRoute
    ) {
    super({{ lname}}Service, activatedRoute);
    }



    }

